<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
On click odd even start
<button (click) = "onClick()" class="btn btn-primary">
  <div *ngIf = "odd == false">Odd</div>
  <div *ngIf = "odd == true">Even</div>
</button>
<div *ngFor = "let i of arrayNumbers;">
  <div *ngIf = "i%2==0; else even">
    <div *ngIf = "odd == true" [ngStyle] = "{color : 'green'}">
      {{i}}
    </div>
  </div>
    <ng-template #even>
        <div *ngIf = "i%2==1;">
            <div *ngIf = "odd == false" [ngStyle] = "{color : 'red'}"> 
                    {{i}}
            </div>
          </div>
    </ng-template>
</div> 
On click odd even stop
-->
<h2 appHighlight>
  This is Highlighted
</h2>

