ul {
    list-style-type: none;
    background: #fdc6c6;
    padding: 5px;
  }
  ul li {
    background: #cce5ff;
    margin: 5px;
  }
h2{
    font-style: oblique;
    text-decoration: underline;
    color: rgb(228, 153, 67);
}
