<marquee scrollamount="20">
<pre>
        /$$   /$$           /$$                           /$$   /$$                                                          /$$$$ 
        | $$  /$$/          |__/                          | $$  /$$/                                                         /$$  $$
        | $$ /$$/   /$$$$$$  /$$  /$$$$$$$  /$$$$$$       | $$ /$$/   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$       |__/\ $$
        | $$$$$/   |____  $$| $$ /$$_____/ /$$__  $$      | $$$$$/   |____  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$          /$$/
        | $$  $$    /$$$$$$$| $$|  $$$$$$ | $$$$$$$$      | $$  $$    /$$$$$$$| $$  \__/| $$  \ $$| $$  \ $$| $$$$$$$$         /$$/ 
        | $$\  $$  /$$__  $$| $$ \____  $$| $$_____/      | $$\  $$  /$$__  $$| $$      | $$  | $$| $$  | $$| $$_____/        |__/  
        | $$ \  $$|  $$$$$$$| $$ /$$$$$$$/|  $$$$$$$      | $$ \  $$|  $$$$$$$| $$      |  $$$$$$/|  $$$$$$$|  $$$$$$$         /$$  
        |__/  \__/ \_______/|__/|_______/  \_______/      |__/  \__/ \_______/|__/       \______/  \____  $$ \_______/        |__/  
                                                                                                   /$$  \ $$                        
                                                                                                  |  $$$$$$/                        
                                                                                                   \______/                         
</pre>
</marquee>

<marquee direction="up" height="500px">
<p>
    {{userObj.fname}} <br>
    {{userObj.lname}}

   <!-- {{userObje}} -->

    <app-child [childProperty]="userObj" (childEvent)="parentMethod($event)"></app-child>
</p>

